{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Controles{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/controls.css' %}">
{% endblock %}
{% block content %}
  <div class="container">
    <div id="left">
      <img id="brazo-img" src="{% static 'imgs/brazoIcono.ico' %}" alt="brazo imagen">
      <input type="text" name="text" id="direccionIP" placeholder="Ingrese una dirección IP"><br>
      <button id="alternarConexion">Conectar</button><br><br>
      <p>O quizás prefiera <a href="{% url 'controls2' %}">Controles 2</a></p>
      
    </div>
    <div id="right">
      
      <img id="cameraImage" src="" alt="imgbrazo">

      <div id="subox2">
        <span> Hombro:</span><input id="Base" type="range" max="180" min="0" value="90" oninput="sendButtonInput('Base',value)"><span id="angle1">90</span><br>
        <span> Codo:  </span><input id="Codo" type="range" max="180" min="0" value="90" oninput="sendButtonInput('Codo',value)"><span id="angle3">90</span><br>
        <span>Base:  </span><input id="Hombro" type="range" max="180" min="0" value="90" oninput="sendButtonInput('Hombro',value)"><span id="angle2">90</span><br>
        <span> Pinza:  </span><input id="Pinza" type="range" max="180" min="0" value="90" oninput="sendButtonInput('Pinza',value)"><span id="angle4">90</span><br>
        <span> Flash:  </span><input id="Pinza" type="range" max="255" min="0" value="0" oninput="sendButtonInput('Flash',value)"><span id="angle4">0</span><br>
      </div>
    </div>
  </div>
  <script src="{% static 'javascript/controls.js' %}"></script>
{% endblock %}