{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title%}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" href="{% static 'imgs/brazoIcono.ico' %}" type="image/x-icon">
  {% block styles %}{% endblock %}
</head>
<body>
  <header>
    <h1>TeleRobot: Proyecto Integrador</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/aboutus">Sobre Nosotros</a></li>
        <li><a href="/info">Información</a></li>
        <li><a href="/materials">Materiales</a></li>
        <li><a href="/graphics">Gráficos</a></li>
        <li><a href="/controls">Controles</a></li>
        <li><a href="/gestion">Gestión</a></li>
        <li><a href="/users">Usuarios</a></li>
        <li><a href="/randomuser">Random User</a></li>
        <li><a href="/chiste">Chiste del Día</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content%}{% endblock %}
  </main>
  <footer>
    <p>All reserved rights</p>
  </footer>
</body>
</html>