h2 {
    color: #fff;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 10%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

td {
    color: #fff;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

a {
    text-decoration: none;
    color: #365df6;
    font-weight: 700;
}