main {
    color: #fff;
    text-align: center;
}

.equipo {
    width: 85%;
    padding: 2%;
}

.cabeza-equipo {
    width: 100%;
    display: flex;
}

.cabeza-equipo img {
    width: 100px;
}

.cabeza-equipo h2 {
    font-size: 48px;
    padding-top: 10px;
}

.dt img {
    width: 140px;
}

.jugador img {
    width: 140px;
    height: auto;
    text-align: center;
}

.jugador {
    display: flex;
    background-color: black;
    padding: 2%;
    width: 50%;
    /* margin: 1% 24%; */
    margin-left: 24%;
}

.info-jugador {
    text-align: left;
    width: 70%;
}

h4 {
    font-size: 30px;
}
