main {
    padding: 2%;
    text-align: center;
    height: 78vh;
    color: #fff;
}

h2 { 
    color: #fff;
}

.match img {
    width: 120px;
    height: auto;
}

.match {
    display: flex;
    margin-left: 40.5%;
}

main a {
    color: #365df6;;
    text-decoration: none;
}