<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div>
            <h2>Persona {{item.id}}</h2>
            <p><strong>Nombre: </strong>{{item.nombre}}</p>
            <p><strong>Apellido: </strong>{{item.apellido}}</p>
            <p><strong>DNI: </strong>{{item.dni}}</p>
            <p><strong>Fecha de Nacimiento: </strong>{{item.fechaNacimiento}}</p>
            <p><strong>Dirección: </strong>{{item.direccion}}</p>
        </div>
    
</body>
</html>