main {
    margin-top: 8%;
}

footer {
    position: relative;
    bottom: 0;
}

.container {
    display: flex;
    width: 86%;
    height: 600px;
    margin-left: 7%;
    margin-right: 7%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#left {
    width: 30%;
    height: 480px;
    background: gray;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 3%;
}

#right {
    background-color: gray;
    width: 58%;
    height: 480px;
    margin: 2%;
    border-radius: 3%;
}

#cameraImage {
    width: 300px;
    height: auto;
    background: black;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 3%;
}

#subox2 {
    width: 70%;
    height: 200px;
    margin-left: 19%;
}

#brazo-img {
    margin-top: 5%;
    border-radius: 50%;
    width: 50%;
    margin-left: 25%;
}

input[type="range"] {
    width: 70%;
    margin-left: 7%;
    margin-right: 3%;
    margin-top: 5%;
    accent-color: rgb(25, 24, 24);
}

#Hombro {
    margin-left: 4%;
}

span {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
    background: rgb(199, 196, 196);
    border-radius: 5px;
    width: 60%;
    height: 22px;
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: 4%;
}

button {
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    color: white;
    text-transform: uppercase;
    background-color: black;
    width: 40%;
    margin-left: 30%;
}

button:hover {
    background-color: rgb(94, 92, 92);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}

p a {
    text-decoration: none;
    color: white;
}