main {
    margin-top: 4%;
    padding-top: 6%;
    font-family: Arial, Helvetica, sans-serif;
    width: 68%;
    margin-left: 12%;
    border-style: solid;
    border-bottom: none;
    border-width: 2px;
    border-color: gray;
    padding-left: 5%;
    padding-right: 5%;
}

img {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10%;
    border-style: solid;
    margin-bottom: 20px;
}

p {
    margin-bottom: 12px;
    line-height: 20px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}