{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Gráficos{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/graphics.css' %}">
{% endblock %}
{% block content %}
  <h2>Diagrama de clases UML</h2>
  <img src="{% static 'imgs/diagramaClases.png' %}" alt="diagrama de clases UML">
  <h2>Diagrama de Casos de uso</h2>
  <img src="{% static 'imgs/casosDeUso.png' %}" alt="Diagrama de Casos de Uso">
  <h2>Historias de Usuario</h2>
  <img src="{% static 'imgs/UH1.png' %}" alt="historia1">
  <img src="{% static 'imgs/UH2.png' %}" alt="historia2">
  <img src="{% static 'imgs/UH3.png' %}" alt="historia3">
{% endblock %}