{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/023/579/944/original/illustration-of-soccer-logo-it-s-for-success-concept-png.png">
  {% block extra-css %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="titulo-img">
      <img src="https://static.vecteezy.com/system/resources/previews/023/579/944/original/illustration-of-soccer-logo-it-s-for-success-concept-png.png" alt="fútbol logo">
      <h1>Sistema Fútbolístico</h1>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'campeonatos' %}">Campeonatos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>