{% extends 'base.html' %}
{% load static %}
{% block title %}Campeonatos{% endblock %}
{% block extra-css %}
{% endblock %}
{% block content %}
<h1>Campeonatos</h1>
<p>En esta página se mostrarán los campeonatos</p>
{% for campeonato in campeonatos %}
  <div class="campeonato">
    <h2>{{ campeonato.nombre }}</h2>
    <p>Descripción: {{ campeonato.descripcion }}</p>
    <p>Fecha de Inicio: {{ campeonato.fecha_inicio }}</p>
    <p>Fecha de Finalización: {{ campeonato.fecha_fin }}</p>
    <p>Categoria: {{ campeonato.categoria }}</p>
    <p>Modalidad: {{ campeonato.modalidad }}</p>
    <p><a href="{% url 'equipos' campeonato.id %}">Equipos participantes</a></p>
    <p><a href="{% url 'tabla_posiciones' campeonato.id %}">Tabla de posiciones</a></p>
    <p></p>
  </div>
{% endfor %}
{% endblock %}
