{% extends 'base.html' %}
{% load static %}
{% block title %}Equipos de {{ campeonato.nombre }}{% endblock %}
{% block extra-css %}
  <link rel="stylesheet" href="{% static 'css/equipos.css' %}">
{% endblock %}
{% block content %}
  {% for equipo in equipos %}
    <div class="equipo">
      <a href="{% url 'ver_equipo' equipo.id %}">
        <img src="{{ equipo.url_image }}" alt="{{ equipo.nombre }}">
        <h2>{{ equipo.nombre }}</h2>
      </a>
    </div>
  {% endfor %}
  {% if numero_equipos < 3 %}
    <style> 
      main {
        height: 78vh;
      }
    </style>
  {% else %}
    <style>
      main {
        height: max-content;
      }
    </style>
  {% endif %}

{% endblock %}