{% extends 'base.html' %}
{% load static %}
{% block title %}Tabla de Posiciones{% endblock %}
{% block extra-css %}
{% endblock %}
{% block content %}
<h1>Tabla posiciones</h1>
<p>la tabla de posiciones</p>
<p><a href="{% url 'partidos' tabla_completa.tabla_posiciones.id %}">Partidos</a></p>
  <div class="equipo">
    <h2>{{ tabla_completa.tabla_posiciones.campeonato }}</h2>
    <table>
      <tr>
        <th>Posicion</th>
        <th>Equipo</th>
        <th>Puntos</th>
        <th>GF</th>
        <th>GC</th>
        <th>DG</th>
        <th>P. jugados</th>
        <th>Victorias</th>
        <th>Derrotas</th>
        <th>Empates</th>
      </tr>
      {% for row in tabla_completa.tabla_rows %}
        <tr>
          <td>{{ row.posicion }}</td>
          <td>{{ row.equipo }}</td>
          <td>{{ row.puntos }}</td>
          <td>{{ row.goles_a_favor }}</td>
          <td>{{ row.goles_en_contra }}</td>
          <td>{{ row.diferencia_de_goles }}</td>
          <td>{{ row.partidos_jugados }}</td>
          <td>{{ row.partidos_ganados }}</td>
          <td>{{ row.partidos_perdidos }}</td>
          <td>{{ row.partidos_empatados }}</td>
        </tr>{% endfor %}
    </table>
  </div>
 
{% endblock %}