{% extends 'base.html' %}
{% load static %}
{% block title %}Ver {{Equipo.nombre}}{% endblock %}
{% block extra-css %}
  <link rel="stylesheet" href="{% static 'css/ver_equipo.css' %}">
{% endblock %}
{% block content %}
  <div class="equipo">
    <div class="cabeza-equipo">
      <img src="{{ equipo.url_image }}" alt="{{ equipo.nombre }}">
      <h2>{{ equipo.nombre }}</h2>
    </div><br><br>
    <div class="dt">
      <h3>DT: {{ dt.nombre }}</h3><br>
      <img src="{{ dt.url_image }}" alt="{{ dt.nombre }}">
    </div><br>
    <h4>Jugadores</h4><br>
    {% for jugador_equipo in jugadores_equipo %}
      <div class="jugador">
        <div class="info-jugador">
          <p><b>Nombre: </b>{{ jugador_equipo.jugador.nombre }}</p>
          <p><b>Nacimiento: </b>{{ jugador_equipo.jugador.fecha_nacimiento }}</p>
          <p><b>Estatura: </b>{{ jugador_equipo.jugador.estatura }} metros</p>
          <p><b>Peso: </b> {{ jugador_equipo.jugador.peso }} Kg</p>
        <p><b>Debut: </b> {{ jugador_equipo.jugador.fecha_debut }}</p>
        </div>
        <img src="{{ jugador_equipo.jugador.url_image }}" alt="{{ jugador_equipo.jugador.nombre }}">
      </div>
    {% endfor%}
  </div>
{% endblock %}